{
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-solidity"],
  "pluginSearchDirs": ["."],
  "overrides": [
    { "files": "*.svelte", "options": { "parser": "svelte" } },
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false
      }
    }
  ]
}
